{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

{% block content %}
<body id="about">
    <main>
<!-- <div class="big-wrapper light"> -->
   <div class="container">
            <div class="head">    
                <h1>About Us</h1>
            </div>
            <div class="row justify-content-center">
                <!-- Back End -->

                {% for moh in members %}
                  
               

                <!-- mohammed start -->
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="about">
                        <div class="cont-img">
                            <img src="{{moh.MMimg.url}}" alt="">
                        </div>
                        <div class="content-about">
                            <div class="about-cont">
                                <h3>{{moh.MMname}}</h3>
                                <p>{{moh.MMinfo}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mohammed end -->
                 {% endfor %}
                <!-- /Back End -->


           


             

            </div>
    </div>

<!-- </div> -->
</main>
</body>
{% endblock content %}


</html>
