{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Articles</title>
</head>

{% block content %}


<!-- ##### -->
<div class="cards">
   <div class="card">
      <!-- Img -->
      <div class="cont-img">
         <img src="img/1.jpg" alt="">
      </div>

      <!-- Content -->
      <div class="content">
         <img src="img/1.jpg" class="img-2" alt="">
         <p> dipisicing elit. Sit, culpa Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, culpa.</p>
      </div>
      <!-- Icons -->
      <div class="icons">
         <div class="cont-icon">
            <i class="fas fa-heart"></i>
            <span>57</span>
         </div>
         <div class="cont-icon">
            <i class="fas fa-comment"></i>
            <span>6</span>
         </div>
         <div class="cont-icon">
            <i class="far fa-eye"></i>
            <span>140</span>
         </div>
      </div>
   </div>
   <div class="card">
      <!-- Img -->
      <div class="cont-img">
         <img src="img/1.jpg" alt="">
      </div>

      <!-- Content -->
      <div class="content">
         <img src="img/1.jpg" class="img-2" alt="">
         <p> dipisicing elit. Sit, culpa Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, culpa.</p>
      </div>
      <!-- Icons -->
      <div class="icons">
         <div class="cont-icon">
            <i class="fas fa-heart"></i>
            <span>57</span>
         </div>
         <div class="cont-icon">
            <i class="fas fa-comment"></i>
            <span>6</span>
         </div>
         <div class="cont-icon">
            <i class="far fa-eye"></i>
            <span>140</span>
         </div>
      </div>
   </div>
   <div class="card">
      <!-- Img -->
      <div class="cont-img">
         <img src="img/1.jpg" alt="">
      </div>

      <!-- Content -->
      <div class="content">
         <img src="img/1.jpg" class="img-2" alt="">
         <p> dipisicing elit. Sit, culpa Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, culpa.</p>
      </div>
      <!-- Icons -->
      <div class="icons">
         <div class="cont-icon">
            <i class="fas fa-heart"></i>
            <span>57</span>
         </div>
         <div class="cont-icon">
            <i class="fas fa-comment"></i>
            <span>6</span>
         </div>
         <div class="cont-icon">
            <i class="far fa-eye"></i>
            <span>140</span>
         </div>
      </div>
   </div>
</div>
<!-- ##### -->




{% endblock content %}

</html>