{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

{% block content %}
<body id="home">
<!-- containt start -->
        <!-- Main Section -->
        <!-- <main> -->
        <!-- <div class="big-wrapper light" > -->
          
          <!-- <header >
            <div class="container" >
          <div class="logo">
              <img src="{% static 'img/logo.png' %}" alt="Logo" />
            </div>
            <div class="links" >
              <ul>
                  <li><a data-active="home" href="{% url 'home' %}"  >Home</a></li>
                  <li><a data-active="about" href="{% url 'about' %}">About</a></li>
                  <li  class="mainl"  >
                    <a data-active="category" href="{% url 'category' %}" >Catogery</a>
                    <ul class="sub-ul">
                     <li><a  href="{% url 'category' %}" >All Catogery</a></li> 
                    {% for cat in category %} 
                        <li class="cat{{cat.id}}"><a href="#" >{{cat.Cname}}</a></li> 
                        {% endfor %} 
                      </ul>
                    </li>
                  <li><a data-active="services" href="{% url 'services' %}">Services</a></li>
                  </ul>
              </div>
              <div class="overlay"></div>
              <div class="hamburger-menu">
                <div class="bar"></div>
              </div>
              </div>
              </header> -->

        <div class="showcase-area" style="overflow: hidden;">
          <div class="container" >
            <!-- Side Left -->
            <div class="left">
              <div class="big-title">
                <h1>Jaquar Team</h1>
                <h2>Choose your site now.
                   
                </h2>
              </div>
              <p class="text">
                Now you can request your site easily.
               We can design your site with high professionalism and dazzling design
              </p>
            </div>
            <!-- /Side Left -->

            <!-- Side Right -->
            <div class="right">
              <img src="{% static 'img/jq.png' %}" alt="Person Image" class="person" />
            </div>
            <!-- Side Right -->
          </div>
          
        </div>
      <!-- </div> -->
        <!-- </main> -->

        <!-- contain  end-->


      </body>

{% endblock content %}



</html>
