{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/unti.css' %}">  -->
   
    <title>Document</title>
</head>


{% block content %}

<body id="services">
    <main>
<!-- <div class="big-wrapper light"> -->
  <div class="container">
    <div class="head">
        <div class="list">
            <ul class="list-group list-group-horizontal" >
                      <li class=" list-group-item"><a href="{% url 'services' %}" >ALL Posts</a></li>
                     {% for cat in category %} 
                <li class=" list-group-item cat{{cat.id}}"><a href="#" >{{cat.Cname}}</a></li>
             
                     {% endfor %} 
                <form class="d-flex" >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit" >Search</button>
                  </form>
              </ul>
           
            <hr>
          </div>

        <hr>
    </div>
  
    <!-- row 1 -->
    <div class="row">

      {% for post in posts %}
        
    
      <div class="col-6 col-md-4 posthide
                 post{{post.Pcategory.id}}">
        <div class="card">
          <div class="card__header">
            <img src="{{post.Pimg.url}}" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">{{post.Pcategory}}</span>
            <h4>{{post.Ptitle}}</h4>
            <p>{{post.Pdetails}}</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="{{post.Pmember.MMimg.url}}" alt="user__image" class="user__image" width="80" height="80">
              <div class="user__info">
                <h5>{{post.Pmember.MMfullname}}</h5>
                <small>{{post.Pdata_time}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

        {% endfor %}
     



    </div>



</main>
</body>

{% endblock content %}

</html>
