{% load static %}
        <!-- Icons Of Dark And Light Mode -->
        <br><br>
 <!-- <div class="big-wrapper light"> -->
  <div class="bottom-area"  >
    <img src="{% static 'img/shape.png' %}" alt="" class="shape" />
            <div class="container">
              <button class="toggle-btn" style="position: fixed;z-index: 0;bottom: 50px;">
                <i class="far fa-moon"></i>
                <i class="far fa-sun"></i>
              </button>
            
            </div>
            
        	</div>
 <!-- </div> -->
     


    